/Lab 05/CampusStore/CampusStoreDBManager/target/
.DS_Store
*.exe
*.class
*.jar
*.dll
target
bin
.vs
obj
.vsidx
*.cache*.dbcache.json
*.suo
*.user
packages
*/packages/*
/CampusStore/CampusStore/CampusStorePersistencia/nbproject/
